/*Some kind of leyout, that create basically introduction of two versions.
 * Mobile basic version of css.
 * And some kind of responsive point of view. */

html, body {
  height:100%;
  width:100%;
  border:0;
  margin:0;
  padding:0;
}
@media only screen and (min-width: 480px) {

 .grid-parrent{
  width:80%;
  height:100%;
  margin:0 auto;
 }
 .grid-container {
  display: grid;
  grid-template-columns: 20% 40% 20% 20%;
  gap: 150px;
 }

 .item1 {
  border: 2px solid blue;
  grid-area: header;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start:1;
  grid-row-end:3;
 }

 .item2 {
  border: 2px solid blue;
  grid-area: menu;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start:3;
  grid-row-end:10;
 }

 .item3 {
  border: 2px solid blue;
  grid-area: container1;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3;
  grid-row-end:8;
 }

 .item4 {
  border: 2px solid blue;
  grid-area: container2; 
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start:3;
  grid-row-end:8;
 }

 .item5 {
  border: 2px solid blue;
  grid-area: footer;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start:8;
  grid-row-end:10;
 }
}
@media not screen and (min-width: 480px) {
 .grid-parrent{
  width:80%;
  height:100%;
  margin:0 auto;
 }
 .grid-container {
  display: grid;
  grid-template-rows: auto 80% auto;
  grid-template-columns: auto 50% auto;
  row-gap: 40px;
  column-gap:100px;
 }
 .item1 {
  border: 2px solid blue;
  grid-area: header;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:2;
  grid-row-end:12;
 }

 .item2 {
  border: 2px solid blue;
  grid-area: menu;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:13;
  grid-row-end:25;
 }

 .item3 {
  border: 2px solid blue;
  grid-area: container1;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:26;
  grid-row-end:38;
 }

 .item4 {
  border: 2px solid blue;
  grid-area: container2;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:39;
  grid-row-end:51;
 }

 .item5 {
  border: 2px solid blue;
  grid-area: footer;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:52;
  grid-row-end:64;
 }
}
